[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
kafka-python = "*"
orjson = "*"
grpcio-tools = "*"
backoff = "*"
python-json-logger = "*"
motor = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
