[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
psycopg2-binary = "*"
pydantic = "*"
elasticsearch = "*"
backoff = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
black = "*"
ipython = "*"
pylint-quotes = "*"

[requires]
python_version = "3.10"
